# openxt signing certs
slaves/openxt_certs
# site specific configs
slaves/slave.cfg
# build directories
slaves/aes-pipe
slaves/core-image-minimal
slaves/meta-measured
slaves/meta-selinux
slaves/openxt
# twisted python stuff
slaves/twistd.*

# buildbot master files
masters/twobit/http.log
masters/twobit/public_html/
masters/twobit/state.sqlite
# site specific configs
masters/twobit/pbchange.cfg
masters/twobit/slaves.cfg
masters/twobit/twobit.htpasswd
# twisted python stuff
masters/twobit/twistd.*
