# openxt signing certs
slaves/openxt_certs
# slave specific configs
slaves/slave.cfg
# build directories
slaves/aes-pipe
slaves/core-image-minimal
slaves/meta-measured
slaves/meta-selinux
slaves/openxt
# twisted python stuff
slaves/twistd.*

masters/twobit/http.log
masters/twobit/pbchange.cfg
masters/twobit/public_html/
masters/twobit/twistd.log
masters/twobit/twistd.pid
masters/twobit/twobit.htpasswd
masters/twobit/slaves.cfg
masters/twobit/state.sqlite
